<div class="card">
    <div class="card-body">
        <h3 class="title">Add Credit Card</h3>


        <form class="form-group" [formGroup]="myForm" (ngSubmit)="onSave()">
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Titular" formControlName="titular"
                    [ngClass]="isValidField('titular')">
            </div>

            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text"><i class="fas fa-credit-card"></i></span>
                <input type="text" maxlength="16" class="form-control" placeholder="Credit Card"
                    formControlName="numberCard" [ngClass]="isValidField('numberCard')">
            </div>

            <div class="row">
                <div class="col-lg-7">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        <input type="text" maxlength="5" class="form-control" placeholder="MM/YY"
                            formControlName="expirationDate" [ngClass]="isValidField('expirationDate')">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                        <input type="text" maxlength="3" class="form-control" placeholder="CVV" formControlName="cvv"
                            [ngClass]="isValidField('cvv')">
                    </div>
                </div>
            </div>
            <div class="d-grid grap-2">
                <button type="submit" class="btn btn-success btn-lg" [disabled]="!myForm.valid">
                    <i class="fas fa-database"></i>&nbsp;
                    Acept
                </button>
            </div>
        </form>

    </div>
</div>
